<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>Privacy - System</title>
</head>
<body>
<div th:insert="~{/header-footer/template.html::Header}">
</div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="Master_Div d-flex flex-row justify-content-center m-3">
                    <div class="col-md-12 d-flex flex-column p-3 bg-primary-subtle rounded-3">

                        <label class="fs-1 fw-bold">Política de Privacidad</label>

                        <br />

                        <div class="Div_01">
                            <label class="fs-2 fw-bold">1. Introducción</label>

                            <p>
                                En "The readers", nos comprometemos a proteger y respetar su privacidad. Esta Política de
                                Privacidad explica cómo recopilamos, usamos y protegemos la información personal que nos proporciona
                                cuando utiliza nuestros servicios de gestión de inventarios para pizzerías. Al utilizar nuestros
                                servicios, usted acepta las prácticas descritas en esta política.
                            </p>
                        </div>

                        <br />

                        <div class="Div_02">
                            <label class="fs-2 fw-bold">2. Información que Recopilamos</label>

                            <p>
                                Para ofrecer un servicio óptimo de gestión de inventarios, recopilamos los siguientes tipos de
                                información:
                            </p>

                            <ul>
                                <li>Información de la Pizzería: Pizzería Michelina, Santa Anita, 959748008, Pizza@gmail.com</li>
                                <li>
                                    Datos de Inventario: Información sobre los productos, ingredientes, proveedores, cantidades, fechas
                                    de caducidad, y movimientos de stock.
                                </li>
                                <li>
                                    Datos de Facturación: Información relacionada con pagos, historial de transacciones, y detalles de
                                    facturación.
                                </li>
                                <li>
                                    Información Técnica: Dirección IP, tipo de navegador, dispositivo y otros datos relacionados con el
                                    uso del software o aplicación.
                                </li>
                            </ul>
                        </div>

                        <br />

                        <div class="Div_03">
                            <label class="fs-2 fw-bold">3. Uso de la Información</label>

                            <p>Utilizamos la información recopilada para los siguientes fines:</p>

                            <ul>
                                <li>
                                    Gestión del Inventario: Procesar y monitorear los productos e ingredientes disponibles en su
                                    pizzería, optimizando las operaciones internas.
                                </li>
                                <li>
                                    Comunicación: Contactarlo con actualizaciones del servicio, notificaciones importantes o alertas de
                                    inventario.
                                </li>
                                <li>
                                    Mejoras del Servicio: Analizar datos de uso para mejorar nuestras herramientas de gestión y ofrecer
                                    una mejor experiencia.
                                </li>
                                <li>Facturación y Pago: Gestionar el proceso de facturación y cobro por los servicios prestados.</li>
                            </ul>
                        </div>

                        <br />

                        <div class="Div_04">
                            <label class="fs-2 fw-bold">4. Compartición de la Información</label>

                            <p>
                                No compartimos, vendemos ni alquilamos su información personal con terceros, excepto en los siguientes
                                casos:
                            </p>

                            <ul>
                                <li>
                                    Proveedores de Servicios: Podemos compartir su información con proveedores externos que nos ayudan a
                                    operar nuestra plataforma (por ejemplo, proveedores de almacenamiento en la nube o procesamiento de
                                    pagos). Estos proveedores están obligados a mantener la confidencialidad de su información.
                                </li>
                                <li>
                                    Cumplimiento Legal: Podemos divulgar información si es requerido por ley o si creemos que es
                                    necesario para proteger nuestros derechos legales o responder a una solicitud de las autoridades
                                    gubernamentales.
                                </li>
                            </ul>
                        </div>

                        <br />

                        <div class="Div_05">
                            <label class="fs-2 fw-bold">5. Seguridad de la Información</label>

                            <p>
                                Nos tomamos muy en serio la seguridad de su información. Implementamos medidas de seguridad físicas,
                                electrónicas y administrativas para proteger sus datos de accesos no autorizados, uso indebido, pérdida
                                o divulgación.
                            </p>
                        </div>

                        <br />

                        <div class="Div_06">
                            <label class="fs-2 fw-bold">6. Retención de Datos</label>

                            <p>
                                Conservamos su información personal solo durante el tiempo que sea necesario para cumplir con los
                                propósitos descritos en esta Política de Privacidad, o según lo requiera la ley aplicable.
                            </p>
                        </div>

                        <br />

                        <div class="Div_07">
                            <label class="fs-2 fw-bold">7. Derechos del Usuario</label>

                            <p>
                                Usted tiene derecho a acceder, corregir o eliminar su información personal en cualquier momento. Si desea
                                ejercer estos derechos, puede contactarnos a través de Pizza@gmail.com y atenderemos su solicitud en un
                                plazo razonable.
                            </p>
                        </div>

                        <br />

                        <div class="Div_08">
                            <label class="fs-2 fw-bold">8. Cambios a la Política de Privacidad</label>

                            <p>
                                Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Le notificaremos
                                cualquier cambio significativo a través de nuestro sitio web o mediante otros canales de comunicación.
                            </p>
                        </div>

                        <br />

                        <div class="Div_09">
                            <label class="fs-2 fw-bold">9. Contacto</label>

                            <p>
                                Si tiene alguna pregunta sobre esta Política de Privacidad o sobre cómo manejamos su información, puede
                                ponerse en contacto con nosotros a través de:
                            </p>

                            <ul>
                                <li>Correo electrónico: thereaders@gmail.com</li>
                                <li>Teléfono: 959748008</li>
                                <li>Dirección Postal: +51</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:insert="~{/header-footer/template.html::Footer}">
        </div>
    </div>

<script th:src="@{/library/JQuery/JQuery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
</body>
</html>